html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

header {
  background-color: red;
  margin-bottom: 3rem; }

.row {
  display: block;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

.grid-container {
  float: left;
  display: block;
  margin-right: 4.11092%;
  width: 70.25402%;
  margin-left: 14.87299%; }
  .grid-container:last-child {
    margin-right: 0; }

.grid-item {
  float: left;
  display: block;
  margin-right: 5.85151%;
  width: 15.3188%;
  margin-bottom: 1rem;
  background-color: blue; }
  .grid-item:last-child {
    margin-right: 0; }
  .grid-item:nth-child(5n) {
    margin-right: 0; }
  .grid-item:nth-child(5n+1) {
    clear: left; }

/*# sourceMappingURL=style.css.map */
