@import "bourbon/bourbon";
@import "neat/neat";

$grid-columns: 7;
$max-width: em(1200);

.container {
   @include outer-container;
}

header {
  background-color: red;
  margin-bottom: 3rem;
}

.row {
  @include row();
  @include outer-container;
}

.grid-container {
  @include span-columns(5 of 7);
  @include shift(1);
}

.grid-item {
  @include span-columns(1 of 5);
  @include omega(5n);
  margin-bottom: 1rem;
  background-color: blue;
}